<ion-view>
  <ion-content>
    <ion-slide-box show-pager="false">
      <ion-slide>
        <img class="full-image" src="/views/welcome/image/64.jpg" alt="">
        </ion-slide>
      <ion-slide>
        <img class="full-image" src="/views/welcome/image/66.jpg" alt="">
      </ion-slide>
      <ion-slide>
        <img class="full-image" src="/views/welcome/image/77.jpg" alt="">
      </ion-slide>
      </ion-slide-box>
    <div class="row padding-left padding-right">
      <div class="col padding-left">
        <a class="button-energized button-outline button-block">登录</a>
        </div>
      <div class="col padding-left">
        <a class="button-energized  button-block">注册</a>
      </div>
      </div>
  </ion-content>
</ion-view>
